@model QuickFixers.Models.ServiceProviderViewModel

@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_SPLayout.cshtml";
    string[] THeaders = new string[] { "InvoiceID", "ClientID", "ServiceProviderID", "ScheduledServiceID" };
}

<h2>@ViewBag.Title</h2>
<div class="table">
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                @{

                    foreach (var header in THeaders)
                    {

                        <th>
                            @header
                        </th>







                    }


                }

            </tr>
        </thead>
        @{
            if (Model.DbResults != null)
            {
                foreach (System.Data.DataRow DataTest in Model.DbResults.Rows)
                {
                <tr>
                    <td>@DataTest["InvoiceID"]</td>
                    <td>@DataTest["ClientID"]</td>
                    <td>@DataTest["ServiceProviderID"]</td>
                    <td>@DataTest["ScheduledServiceID"]</td>
                </tr>
                }
            }
        }
        <tbody>
        </tbody>

    </table>
</div>