@model QuickFixers.Models.ServiceProviderViewModel

@{
    ViewBag.Title = "Scheduled Services";
    //Layout = "~/Views/Shared/_SPLayout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] THeaders = new string[] { "ScheduledServiceID", "ServiceProviderID", "ClientID", "ServiceOfferedID", "ServiceDate", "ServiceAddress" };
}

<h2>@ViewBag.Title</h2>
<div class="table">
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                @{
                    foreach (var header in THeaders)
                    {
                        <th>
                            @header
                        </th>
                    }
                }
            </tr>
        </thead>
        @{
            if (Model.DbResults != null)
            {
                foreach (System.Data.DataRow DataTest in Model.DbResults.Rows)
                {
                <tr>
                    <td>@DataTest["ScheduledServiceID"]</td>
                    <td>@DataTest["ServiceProviderID"]</td>
                    <td>@DataTest["ClientID"]</td>
                    <td>@DataTest["ServiceOfferedID"]</td>
                    <td>@DataTest["ServiceDate"]</td>
                    <td>@DataTest["ServiceAddress"]</td>
                </tr>
                }
            }
        }
        <tbody>
        </tbody>
    </table>
</div>