@model IEnumerable<QuickFixers.Data.Models.ScheduledService>

@{
    ViewBag.Title = "Scheduled Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Scheduled Services</h2>

<table class="table" style="background-color: white;">
    <tr>
        <th>
            Service Provider Name
        </th>
        <th>
            Client Name
        </th>
        <th>
            Service Type Name
        </th>
        <th>
            Service Date
        </th>
        <th>
            Service Fee
        </th>
        <th>
            Service Address
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceAddress)
            </td>
        </tr>
    }

    <a href="##" onClick="history.go(-1); return false;">Go back to Previous Page</a>
</table>
