@model QuickFixers.Models.ServiceViewModel

@{
    ViewBag.Title = "Search for Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search for Services</h2>

@using (Html.BeginForm(""))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("Service Type", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ServiceTypeID, new SelectList(Model.ServiceTypesSelect, "ServiceTypeID", "ServiceTypeName"))
            @Html.ValidationMessageFor(model => model.ServiceTypeID, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.ValidationMessageFor(model => model.ServiceProviderName, "", new { @class = "text-danger" })
        @Html.Label("Service Provider", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ServiceProviderName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
        @Html.Label("Zip Code", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", autofocus = true } })
        </div>
    </div>

    <div class="form-group" id="txtPreferredDistance">
        @Html.ValidationMessageFor(model => model.PreferredDistance, "", new { @class = "text-danger" })
        @Html.Label("Preferred Distance", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PreferredDistance, new { htmlAttributes = new { @class = "form-control", autofocus = true } })
        </div>
    </div>

    <div class="form-group" style="padding-left: 16px;">
        <span class="control-label col-md-2"><b>Service Date</b></span> @Html.EditorFor(model => model.SearchDate, new { htmlAttributes = new { @class = "form-control", autofocus = true } })
    </div>
    <br />

</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ValidationSummary(true, "Missing Infomation", new { @class = "text-danger" })
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}

<a href="##" onClick="history.go(-1); return false;">Go back to Previous Page</a>

