<!DOCTYPE html>
@*This is the nav bar that will display across the site in any page.
Buttons related to loggin users are validated and filtered.
Buttons related to usertype also are filtered.*@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Come Get Your Fix!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("QuickFixers", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if ((Session.Keys.Count > 0) && (!String.IsNullOrEmpty(Convert.ToString(Session["sessionGuid"]))))
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @style = "color:rgb(52, 235, 177);font-weight:bold;font-size:15px;" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register", "Login", new { area = "" }, new { @style = "color:rgb(52, 235, 177);font-weight:bold;font-size:15px;" })</li>
                        <li>@Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @style = "color:rgb(52, 235, 177);font-weight:bold;font-size:15px;" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - QuickFixers</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
