<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Come Get Your Fix!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("QuickFix", "Index", "ServiceProvider", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Work Schedule", "WorkSchedule", "ServiceProvider")</li>
                    <li>@Html.ActionLink("Invoices", "Invoices", "ServiceProvider")</li>
                    <li>@Html.ActionLink("Services Offered", "ServicesOffered", "ServiceProvider")</li>
                    <li>@Html.ActionLink("Scheduled Services", "ScheduledServices", "ServiceProvider")</li>
                    <li>@Html.ActionLink("Past Services", "PastServices", "ServiceProvider")</li>
                    @if ((Session.Keys.Count > 0) && (!String.IsNullOrEmpty(Convert.ToString(Session["sessionGuid"]))))
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @style = "color:black;font-weight:bold;font-size:15px;" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-3 mb-3">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
